.loginbody {
    padding-top: 2%;
    text-align: center;
    width: 45%;
    margin-left: 28%;
    margin-top: 5%;
    margin-bottom: 5%;
    background-repeat: no-repeat;
    background-size: 130%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.logname {
    width: 90%;
    text-align: justify;
    padding-top: 5%;
    display: flex;
}

.forgot {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    text-align: center;
}

.signinbtn {
    background-color: rgb(1, 139, 139);
    border: rgb(1, 139, 139);
    color: white;
    border-radius: 50%;
    width: 20%;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.login:hover {
    background-color: darkorange;
}

.lhead {
    padding-bottom: 3%;
    text-align: center;
}

.signuplnk {
    padding-bottom: 15%;
    text-align: center;
}

a {
    text-decoration: none;
    color: darkblue;
}

.but1 {
    padding: 15px 25px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.but1:hover {
    background-color: #3e8e41
}

.but1:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}